.navbar {
        position: fixed;
        z-index: 1000;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #d3d3d386;
        height: 7vh;
        background-color: #fff;
        margin-top: 100px;
        ul {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                li {
                        margin: 0 9%;
                        i {
                                font-size: 1.5rem;
                                color: #999999;
                        }
                        .navbar__link {
                                i {
                                        color: #1DA1F2;
                                }
                        }
                }

        }
}
