.navbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d3d3d386;
  height: 7vh;
  background-color: #fff;
  margin-top: 100px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.navbar ul li {
  margin: 0 9%;
}

.navbar ul li i {
  font-size: 1.5rem;
  color: #999999;
}

.navbar ul .navbar__link--active i {
  color: #1DA1F2;
}
