div.message_wrapper {
        display: flex;
        border-bottom: 1px solid #d3d3d386;
        padding: 15px 10px;
        background-color: #fff;
        position: relative;
        z-index: 1000;
        .message_sender {
                width: 46px;
                height: 46px;
                margin-right: 10px;
        
               img {
                       width: 100%;
                       border-radius: 50%;
                       border: 1px solid #d3d3d357;
               }
        }
        .message_content {
                display: flex;
                flex-direction: column;
                .message_content_head {
                        position: relative;
                        display: flex;
                        .sender_name {
                                font-weight: 600;
                                margin-bottom: 3px;
                                .at_name {
                                        color: #657786;
                                }
                        }
                        .message_time {
                                color: #919191;
                                span.bullet {
                                        display: inline-block;
                                        font-size: .5rem;
                                        margin-left: 10px;
                                        color: #657786;
                                }
                        }
                        
                }
                .content {
                        font-size: .9rem;
                        font-weight: 200;
        
                        .contentImage {
                                margin-top: 10px;
                                border: 1px solid #eee;
                                border-radius: 20px;
                                img {
                                        width: 100%;
                                        border-radius: 20px;
                                }
                        }
                }
        }
}